::selection {
    background:skyblue;
    color:#fff;
  }
  body {
    font-family: 'Raleway', sans-serif;
    background:url('../img/bg.jpg') center/cover;
    color:#fff;
    height: 100vh;
    overflow: hidden;
    border-top:5px solid skyblue;
    &::before {
      content:'';
      background:linear-gradient(215deg, rgba(86,184,238,0.8155637254901961) 20%, rgba(255,0,86,0.7343312324929971) 90%);
      position: absolute;
      width: 100%;
      height: 100%;
      top:0;
      left:0;
      opacity:0.2;
    }
  }
  .wrapper {
    max-width:1200px;
    margin:0 auto;
    position: relative;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
    margin-top: 100px;
  }
  h1 {
    position: absolute;
    top:15px;
    right:25px;
    margin-top: 0;
    font-size: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: normal;
    span {
      color:skyblue;
    }
  }
  h2 {
    font-weight: normal;
    text-transform: uppercase;
    text-align: right;
    span {
      color:skyblue
    }
  }
  .create {
    background:rgba(0,0,0,0.10);
    border-radius:5px;
    padding:25px;
    transition:.3s all ease-in-out;
    &:hover {
      background:rgba(0,0,0,0.2);
    }
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  [type="text"], [type="date"], textarea {
    border:1px solid rgba(255,255,255,0.5);
    border-radius:5px;
    padding:10px;
    width: 100%;
    background:transparent;
    transition:.3s all ease-in-out;
    margin-bottom: 25px;
    color:#fff;
    resize: vertical;
    outline:none;
    &:hover, &:focus {
      border-color:rgba(255,255,255,0.85);
    }
  }
  button {
    color:#fff;
    border:1px solid rgba(255,255,255,0.5);
    padding:10px 10px;
    border-radius:5px;
    text-transform: uppercase;
    font-weight: bold;
    background:transparent;
    cursor:pointer;
    transition:.3s all ease-in-out;
    letter-spacing: 1px;
    width: 100%;
    &:hover {
      background:rgba(255,255,255,0.2);
    }
  }
  
  .task {
    border-radius:5px;
    position: relative;
    background:rgba(0,0,0,0.10);
    padding:15px;
    margin-bottom: 5px;
    transition:.3s all ease-in-out;
    cursor:pointer;
    &:hover {
      background:rgba(0,0,0,0.20);
    }
    summary {
      display: flex;
      justify-content:space-between;
    }
    p {
      font-size: 12px;
      line-height:20px;
    }
  }
  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
  .list {
    position: relative;
  
  }
  h3 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 0;
    font-size: 14px;
  }
  .done {
    .task {
      opacity:0.5;
    }
    h3 {
      color:greenyellow;
    }
  }
  .to-do {
    h3 {
      color:powderblue;
    }
  }

  .task{
    .wrapperSum {
      display: flex;
      gap: 1rem;
      width: 100%;
    }
    .txt {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }